<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339454277073-5k5raepprgmd7e5j60shm2lll1ntvr9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339454277073-5k5raepprgmd7e5j60shm2lll1ntvr9q</string>
	<key>API_KEY</key>
	<string>AIzaSyAKX_fyoOVVpczxuuic_hswivdPjWShcKw</string>
	<key>GCM_SENDER_ID</key>
	<string>339454277073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.radarChartsApp</string>
	<key>PROJECT_ID</key>
	<string>the-real-me-82bd9</string>
	<key>STORAGE_BUCKET</key>
	<string>the-real-me-82bd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339454277073:ios:3ab6e6d628f831ca3f5cf0</string>
</dict>
</plist>